$dark-background: #1B1A17;
$light-background: #242320;
$dark-blue: #1E1E24;
$mark-color--hover: #A35709;
$background--hover: #41343d;
$mark-color: #FF8303;
$text-color: #F0E3CA;
$box-shadow: 0 0 3px 1px $mark-color
