@use '../../styles/variables' as *;

.deleteAllTasksButton {
  background-color: $light-background;
  border-radius: 5px;
  border: 1px solid $mark-color;
  position: relative;
  color: $text-color;
  padding: 6px 12px;
  transition: background-color 0.3s ease-in-out, opacity 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: $background--hover;
    box-shadow: $box-shadow;
  }

  &:active {
    opacity: 0.3;
  }
}